$color-primary-green: #647b64;
$color-primary-green-hover: #4a5a4a;
$color-elements: #333333;
$color-paragraph: #4f4f4f;
$color-title-orange: #f3b562;
$color-footer: #f0dcc5;
$color-black: black;
$color-white: white;
$color-dark: rgb(44, 44, 44);

// variables.$color-primary-green;
// variables.$color-primary-green-hover;
// variables.$color-elements;
// variables.$color-paragraph;
// variables.$color-title-orange;
// variables.$color-footer;
// variables.$color-black;
// variables.$color-white;
// variables.$color-dark;
